name: Compile

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  Solution_Name: Compile.sln

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        configuration: [Debug, Release]

    steps:
    - uses: actions/checkout@v6

    - name: Install .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x

    - name: Execute unit tests
      working-directory: Compile
      run: dotnet test

    - name: Build the application
      working-directory: Compile
      run: dotnet build
      env:
        Configuration: ${{ matrix.configuration }}
